<a href="https://colab.research.google.com/github/Shinramen-5/Python-Basics-/blob/main/basic_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
name = "ramen"
print(name.isupper())

True

In [ ]:
print(name.find('a'))
print(name.find('n'))

1
4

In [ ]:
print(name.replace("ramen","shinramen"))
print(name)
print(name.replace("r", "a"))

shinramen
ramen
aamen

In [ ]:
print(5+3)
print(7/3)
print(7//3)
print(7%3)
print(7**3)

8
2.3333333333333335
2
1
343

In [ ]:
print(3>2)
print(3==2)
print(3==3)
print(3!=3)            #! means not equal to
# or operator
print(2>3 or 2>1)
# and operator (if both the conditions are same..it print true and rest of the cases it show false )
print(3>2 and 2>1)
print(3>2 and 6>7)
#not operator(true ko false and false ko true)
print(not 3>5)

True
False
True
False
True
True
False
True

In [ ]:
age = 19
if age >= 18:
  print("you are an adult")
  print("you can vote")

print("thank you")

you are an adult
you can vote
thank you

In [ ]:
age = 16
if age >= 18:
  print("you are an adult")
  print("you can vote")        #this whole stat. goes unsatisified

print("thank you")

thank you

In [ ]:
first = ("5  :")
operator = input("enter operator(+,-,*,/,%) :")
second = input(" 20 :")

if operator == "+":
   print(first + second)
 elif operator == "-":
   print(first - second)
 elif operator == "*":  mh
   print(first * second)
 elif operator == "/":
   print(first / second)
 elif operator == "%":
   print(first % second)
else:
  print("Invalid Operation")

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 7)

In [ ]:
numbers = range(100)
print(numbers)

range(0, 100)

In [ ]:
i = 1
while i <=10:            #loop
  print(i)
  i = i+1

1
2
3
4
5
6
7
8
9
10

In [ ]:
i = 1
while i <= 5:
  print(i * "*")
  i = i+1

*
**
***
****
*****

In [ ]:
students = ["ram","lala","bala","petu","shin","kim"]
for student in students:
  if student == "petu":
   break
  print(student)

ram
lala
bala

In [ ]:
students = ["ram","lala","bala","petu","shin","kim"]
for a in students:
  if a != "bala":
   break
  print(a)

ram
lala

In [ ]:
age=10
if age<10:
  print("chhota")
else:
  print("bada")

bada